body {
  font-family: $font;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6em;
  color: $font_color;
}

a:active {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
  font-weight: 700;
  line-height: 1.1em;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

.btn-standart {
  background-color: $color4;
  color: #fff;
  border-radius: 0;
  font-weight: 600;
  padding: 15px 10px;
}

.btn-standart:hover {
  background-color: $color2;
  color: $color5;
}

#wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

#inner-headline {
  background-color: $color1;
  margin: 0;
  padding: 0;
  position: relative;
}
