body {
  font-family: $font;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6em;
  color: $color1;
}

a:active {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
  font-weight: 700;
  line-height: 1.1em;
  color: $color2;
  margin-bottom: 20px;
}

#wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}
