.navbar {
  min-height: 70px;

  .navbar-nav {
    .nav-link {
      color: $color3;
      font-weight: 700;
      text-transform: uppercase;
    }
    .nav-link:hover,
    .nav-link:focus {
      color: $color2;
    }
    .nav-link.active {
      color: $color1;
    }
  }
  img {
    max-width: 80px;
  }
}

.page-title {
  color: #fff;
  margin: 30px 10px;
}
