@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font: "Montserrat", sans-serif;
$font_color: #333333;

// $color1: #a1743d;
$color1: #c6a16e;
$color2: #b18446;
$color3: #858585;
// $color4: #395e91;
$color4: #58a2dc;
$color5: #e5cfb5;

// $color2: #395e91;
// $color3: #71508e;
// $color4: #64904e;

// $main_color: #a28863;
// $font_color: #333333;
// $color1: #656565;
// $color2: #333;

// $sec_color: #009fde;
// $sec_color: #5486b1;

// $color1: #594a3c;
// $color2: #bf9056;
// $color3: #88a5bf;
// $color4: #1e2640;
