<!-- Footer -->
<footer class="footer">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="footer-links col-md-3">
        <!-- Links -->
        <h5>Сталеві конструкції</h5>
        <ul>
          <li>
            <a href="#">Сервіс 1</a>
          </li>
          <li>
            <a href="#">Сервіс 2</a>
          </li>
          <li>
            <a href="#">Сервіс 3</a>
          </li>
          <li>
            <a href="#">Сервіс 4</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="footer-links col-md-3">
        <!-- Links -->
        <h5>Бетонні конструкції</h5>
        <ul>
          <li>
            <a href="#">Сервіс 1</a>
          </li>
          <li>
            <a href="#">Сервіс 2</a>
          </li>
          >
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="footer-links col-md-3">
        <!-- Links -->
        <h5>Інше</h5>
        <ul>
          <li>
            <a href="#">Сервіс 1</a>
          </li>
          <li>
            <a href="#">Сервіс 2</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="footer-links col-md-3">
        <!-- Links -->
        <h5>Посилання</h5>

        <ul>
          <li>
            <a href="{{ url_for('main.home') }}">Головна</a>
          </li>
          <li>
            <a href="{{ url_for('main.about') }}">Про сервіс</a>
          </li>
          <li>
            <a href="{{ url_for('main.contact') }}">Контакти</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <div id="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="copyright">
            <p>
              <span>&copy; Sapsan-build 2020 All right reserved.</span>
            </p>
          </div>
        </div>
        <div class="col-6">
          <ul class="social-network">
            <li>
              <a href="#" data-placement="top" title="Facebook"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="#" data-placement="top" title="Twitter"
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="#" data-placement="top" title="Linkedin"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a href="#" data-placement="top" title="Pinterest"
                ><i class="fa fa-pinterest"></i
              ></a>
            </li>
            <li>
              <a href="#" data-placement="top" title="Google plus"
                ><i class="fa fa-google-plus"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->
