<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <div class="navbar-brand mr-4">
      <a href="{{url_for('main.home')}}">
        <img
          src="{{ url_for('static', filename='img/logo.png') }}"
          alt="logo"
        />
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggle"
      aria-controls="navbarToggle"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle">
      <!-- Navbar Right Side -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('main.home')}}">Головна</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarServisesDropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Сервіси
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarServisesDropdown">
            <a class="dropdown-item" href="#">Сервіс 1</a>
            <a class="dropdown-item" href="#">Сервіс 2</a>
            <a class="dropdown-item" href="#">Сервіс 3</a>
            <a class="dropdown-item" href="#">Сервіс 4</a>
            <a class="dropdown-item" href="#">Сервіс 5</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.about') }}">Про сервіс</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.contact') }}">Контакти</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
