{% extends "layout.html" %} {% block content %}

<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="page-title">Про сервіс</h2>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center my-auto">
        <div class="main-desctiption">
          <p>
            На данній сторінці розміщено перелік прикладних програм для
            автомаизації розразункків.
            <a href="#">Детальніше про сервіс</a>
          </p>
        </div>
      </div>
      <div class="col-md-6 text-center my-auto">
        <div class="main-desctiption">
          <p>
            На данній сторінці розміщено перелік прикладних програм для
            автомаизації розразункків.
            <a href="#">Детальніше про сервіс</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
