@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6em;
  color: #333333;
}

a:active {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.1em;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

.btn-standart {
  background-color: #58a2dc;
  color: #fff;
  border-radius: 0;
  font-weight: 600;
  padding: 15px 10px;
}

.btn-standart:hover {
  background-color: #b18446;
  color: #fff;
}

#wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

#inner-headline {
  background-color: #c6a16e;
  margin: 0;
  padding: 0;
  position: relative;
}

.navbar {
  min-height: 70px;
}

.navbar .navbar-nav .nav-link {
  color: #858585;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: #b18446;
}

.navbar .navbar-nav .nav-link.active {
  color: #c6a16e;
}

.navbar img {
  max-width: 80px;
}

.page-title {
  color: #fff;
  margin: 30px 10px;
}

.footer {
  background-color: #e5cfb5;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 40px 0;
  line-height: 1;
}

.footer .footer-links li {
  margin-bottom: 15px;
}

.footer .footer-links a {
  font-weight: bold;
  color: #858585;
}

.footer .footer-links a:hover {
  text-decoration: none;
  color: #b18446;
}

#sub-footer {
  text-shadow: none;
  padding: 0;
  padding-top: 30px;
  margin: 20px 0 0 0;
}

#sub-footer .copyright {
  text-align: left;
  font-size: 12px;
}

#sub-footer ul.social-network {
  float: right;
}

#sub-footer ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.main-desctiption {
  font-size: 16px;
  margin: 10px 0;
}

.main-desctiption a {
  color: #333333;
  text-decoration: none;
}

.main-desctiption a:hover {
  color: #b18446;
  font-weight: bold;
}

/* apps filter section */
.apps-filter {
  padding: 0;
}

.apps-filter li {
  display: inline-block;
  margin: 0px 5px 5px 0px;
}

.apps-filter a {
  color: #c6a16e;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 0;
  border: 2px solid #c6a16e;
}

.apps-filter a:hover {
  text-decoration: none;
  color: #b18446;
  border-color: #b18446;
}

.apps-filter .active a {
  color: #fff;
  background-color: #c6a16e;
}

/* apps picture section */
.apps-pic {
  position: relative;
  display: block;
}

.apps-pic img {
  width: 100%;
  height: auto;
}

.apps-pic .hover-wrap {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.apps-pic .hover-wrap:hover {
  background-color: #c6a16e;
  opacity: 0.5;
  -webkit-transition: all 450ms ease-out 0s;
  transition: all 450ms ease-out 0s;
}

.apps-pic .apps-links {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
